<section class=" bio  t-vp-50 m-vp-30 section-container" id="Speaker">
    <div class="container--small">
        <div class="grid-gap-100">
            <div class="row mt--70 t-mt-00 t-mb-50 m-mb-00">
                <div class="col-5 m-col-12 t-mt-40">
                    <div class="speaker-img">
                        <picture >
                            <img alt="{{ page.name }}" class="lazy" data-src="{{site.baseurl}}{{ page.pic_url }}">
                        </picture>
                    </div>
                    <div class="social-buttons-2 flex-row">
                        <ul>
                            <!-- Add social links if available -->
                        </ul>
                    </div>
                </div>
                <div class="col-7 m-col-12 t-mt-40">
                    <h1 class="heading heading--large color--main activity-name dont-break-out" >{{ page.name }}</h1>
                    <h2 class="heading heading--normal">{{ page.position }}</h2>
                    <div class="paragraph paragraph--robotomono bold mt--20 speaker-description">
                        <p>{{ content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
